body {
  background-color: rgb(54, 127, 222);
  /*background-image: linear-gradient(#d75764, #8fc9e7, #ffffff);*/
  font-family: "Bebas Neue";
}
.navbar-light bg-light navbar navbar-expand-sm {
  background-color: #3898EC;
}

.nav {
  background-color: #ffffff;
}
.center-vertical {
  display: flex;
  justify-content: center;
  height: 95vh;
}

.weather-form {
  width: 25rem;
}

.full-width {
  width: 100%;
}
